/* #basicInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  height:85vh;
  max-width:1400px;
}
#containor{
  width:60%;
  background-color: grey;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#avatar{
  width:100px;
  height:100px
}
#intro{
  margin:20px;
  width:60%;
}
#scroll-button{
  height: 15vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
#scroll-button .MuiSvgIcon-root{
  font-size: 48px;
  color: grey;
}
@media only screen and (max-width: 1200px) {
  #basicInfo{
    background-color: grey;
  }
  #containor {
    width: 100%;
    box-shadow: none;
  }
  #intro {
    width:80%
  }
  #scroll-button {
    background-color: grey;
  }
  #scroll-button .MuiSvgIcon-root{
    color: white;
  }
}


#outside{
  overflow: hidden;
  display: inline-block;
}
.inside{
  display: inline-block;
  animation: 3s infinite moveup;
}

@keyframes moveup {
  0% {
    transform: translateY(50px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-50px);
  }
}
 */

 #basic-info {
   width:100%;
   height:100%;

 }
 #name-contact {
   width:100%;
   height:20%;
   display: flex;
   flex-wrap: wrap;
   background-color: lightgrey;
   transform: translate(-100vw,0);
   animation: movein 1s forwards;
 }
 #name{
   display: flex;
   align-items: center;
   justify-content: center;
   width:50%;
   height:100%;
   color:white;
   text-shadow: 8px 1px 20px grey;
   font-family: 'Dancing Script' ;
   font-size: xx-large;
 }
 #contact{
   width:45%;
   height:100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
   text-shadow: 8px 1px 20px grey;
  }
  #contact a, #contact p {
    color:white;
 }
 #contact a:hover{
   text-decoration: underline;
 }

 #contact p{
   margin-top: 0;
   font-weight: 900;
 }

 #photo-detail {
   display: flex;
   flex-wrap: wrap;
   width:100%;
   height:80%;
 }
 #photo {
   opacity: 0.7;
   width: 30%;
   height: 100%;
   background-size: cover;
   background-position: center;
   transform: translate(0,-100vh);
   animation: movein 1s forwards;

 }
 #detail {
   position: relative;
   margin:1%;
   width:68%;
   height:90%;
   transform: translate(100vw);
   animation: movein 1s forwards;

 }

 #summary, #education, #skills {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 }
 #detail-background {
   overflow: hidden;
   position: absolute;
   width:100%;
   height:100%;
   left: 0;
   top:0;
   display: flex;
   align-items: center;
   justify-content: center;

 }

 #detail-animation {
   background-color:rgb(230, 230, 230);;
   animation: scale-background 10s infinite;
 }
 #detail-content {
  position: absolute;
  left: 0;
  top:0;
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: flex-start;
  overflow: scroll;
 }
 #skills-panel {
   display: flex;
   flex-wrap: wrap;
 }
 #skills-panel p {
   padding-left: 10px;
 }
 .detail-heading {
   width:100%;
   position: relative;
   text-align: center;
 }

 .detail-heading::before {
   content:' ';
   width:35%;
   height:1px;
   position: absolute;
   background-color: black;
   top:50%;
   left:0%
 }
 .detail-heading::after {
  content:' ';
  width:35%;
  height:1px;
  position: absolute;
  background-color: black;
  top:50%;
  right:0%
}

@keyframes scale-background {
  from {
    width:0;
    height:0
   }
  40%{
    width:400px;
    height:400px;
    transform: rotate(1turn);
  }
  60%{
    width:400px;
    height:400px;
    transform: rotate(1turn);
  }
  to{
    width:0;
    height:0
   }
}

@keyframes movein{
  from{}
  to{
    transform: translate(0);
  }
}

@media only screen and (max-width:710px){
  #name, #contact{
    width:95%;
    height:auto;
  }
  #name{
    font-size: large;
  }

  #name-contact {
    height:auto
  }
  #photo-detail {
    height:100vh;
    overflow: initial;
  }
  #photo, #detail{
    width:100%;
    height:auto;
  }
  #detail-content{
    overflow: initial;
  }
  #displaying .display-content{
    overflow: scroll;
  }

}
@media only screen and (max-width:540px) {
  #name {
    font-size: initial;
  }
}








