#displaying {
    display: none;
    z-index:1;
    width:100vw;
    height: 100vh;
}
.display-content {
    width: calc( 100vw - 240px );
    height:100vh;
    overflow: hidden;
}

@media only screen and (max-width:900px){
    .display-content {
        width:calc( 100vw - 50px)
    }
}