#passion{
    width:100%;
    height:100%;
}

#gallery-background{
    max-width:90%;
    height:80%;
    margin: 40px 50px;
    
}
#gallery{
    max-height: 100%;
    padding: 3px;
    overflow: scroll;
    background-color: grey;
}

@media only screen and (max-width:480px){
    #gallery-background{
        max-width: 100%;
        height:100%;
        margin:0
      }

}
