#projects{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bellota';
  }
#project {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#project-background {
    width:100%;
    height:90%;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#project-canvas {
    opacity: 0;
    width:80%;
    height: 80%;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadein 1s ease-in forwards;
    box-shadow: 10px 10px 50px rgba(46, 46, 46, 0.2);
}

#project-img {
    width:700px;
    position: absolute;
    top:10%;
    left:250px;
}
#project-img img {
    width:100%
}

#project-detail {
    opacity: 0;
    width:250px;
    height:100%;
    position: absolute;
    top:-100%;
    left:0;
    background-color:rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px 50px rgba(46, 46, 46, 0.2);
    animation: movedown 0.5s ease-in 1s forwards ;
    transition: width 0.5s, height 0.5s;
    overflow: hidden;
}
#project-intro {
    opacity: 0;
    position: absolute;
    width:60%;
    height:100px;
    bottom: 0;
    left:0;
    background-color: rgb(61, 61, 61);
    transition: height 0.5s, width 0.5s;
    animation: moveright 0.5s ease-in 1.5s forwards ;
}

.detail-tab {
    height:10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.detail-tab p:hover{
    font-weight: bold;
    cursor: pointer;
}

.detail-tab::after {
    content:' ';
    width:80%;
    height:1px;
    background-color: grey;
    position: absolute;
    top:10%;
    left:10%;
}
#detail-panel {
    height:90%;
}
#detail-intro{
    padding: 50px 10px;
}

#detail-tags {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#project-intro {
    display: flex;
}

#project-name {
    width:70%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

#project-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width:30%;
    height:100%;
    background-color: grey;
    color: white;
    text-align: center;
}
#project-link:hover {
    background-color: white;
    color: grey;
    box-shadow: 10px 10px 50px rgba(46, 46, 46, 0.2);
}

@keyframes movedown {
    from{
        opacity: 0;
        top:-100%
    }
    to{
        opacity: 1;
        top:0
    }
}
@keyframes moveright {
    from{
        opacity: 0;
        left:-100%;
    }
    to{
        opacity: 1;
        left:0;
    }
}

@media only screen and (max-width:650px){
    #project-intro{
        width:100%
    }
    #project-detail{
        width:100%;
        height:10%;
        overflow: hidden;

    }
    #project-detail:hover{
        height:100%
    }
    .detail-tab {
        height:100%
    }
    .detail-tab::after{
        display: none;
    }
    #detail-intro {
        padding:10px
    }

    #project-detail:hover .detail-tab{
        height:10%
    }
    #project-detail:hover .detail-tab::after{
        display: initial;
    }
}

@media only screen and (max-width:410px){
    #project-intro{
        height:60px;
        font-size:xx-small
    }
    #project-detail{
        font-size: small;
    }

}