#side-nav {
    height:100vh;
    width:240px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 1s;
}

#side-nav .right-icon,#side-nav .left-icon {
    display: none;
}

.side-nav-item h3{
    color:white;
    font-family: 'Bellota';
}
.side-nav-item h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width:900px){
    #side-nav {
        width:50px
    }
    .side-nav-item {
        display: none;
    }
    #side-nav.narrow-width .right-icon {
        display: initial;
        color:white;
        cursor: pointer;
    }
    #side-nav.full-width {
        width:100%;
    }
    #side-nav.full-width .side-nav-item {
        display: initial;
    }
    #side-nav.full-width .left-icon {
        display: initial;
        color:white;
        cursor: pointer;
    }
    #side-nav.full-width ~ .display-content {
        display: none;
    }
}