#top-nav {
  position: relative;
  width: 100%;
  height:64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Bellota';
}
#top-nav::after, #narrow-top-nav::after {
  content: ' ';
  position: absolute;
  top:64px;
  left:20%;
  width:100%;
  height: 1px;
  background-color: grey;
  animation: left-right 2s  ease-in forwards
}
#narrow-top-nav {
  position: relative;
  width: 100%;
  height:64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#narrow-top-nav p{
  animation: fadein 0.5s ease-in-out forwards;
}
.nav-right, .nav-left{
  cursor: pointer;
  animation: fadein 0.5s ease-in-out forwards;
}


.nav-item {
  opacity: 0;
  padding-right: 20px;
  animation: fadein 0.5s ease-in-out forwards;
  cursor: pointer;
}

@media only screen and (max-width:480px){
  #top-nav{
    display:none;
  }

}

@keyframes left-right {
  from{
    left:100%
  }
  to{
    left:20%
  }
}