@import './Css/basicInfo.css';
@import './Css/welcoming.css';
@import './Css/sideNav.css';
@import './Css/displaying.css';
@import './Css/topNav.css';
@import './Css/project-canvas.css';
@import './Css/passion.css';

html{
  scroll-behavior: smooth;
}

body{
  display: flex;
  font-family:'Bellota','Times New Roman', Times, serif;
}

#content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#toolbar{
  display:flex;
  justify-content: space-around;
}
#toolbar h6{
  color:grey
}

a {
  text-decoration: none;
  color: black;
}
